<div id="loading-bg" *ngIf="httpServ.cargando">
  <div class="loading-logo">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/serviciosil.appspot.com/o/Logo%20SIL.svg?alt=media&token=cbaba31f-c86e-4a49-a48a-a9464a7dd08a"
      alt="Logo"
      style="width: 200px; margin: auto; margin-top: 40px"
    />
  </div>
  <div class="loading">
    <div class="effect-1 effects"></div>
    <div class="effect-2 effects"></div>
    <div class="effect-3 effects"></div>
  </div>
</div>
<router-outlet></router-outlet>
